// Care Depent
$cd_border_color: #000000;

// BG COLORS
$primary_color: #065179;
$secondary_color: #61b75e;

// BTN COLORS
$btn_bg_color: #0081c3;
$btn_font_color: #FFF;
$btn_white_font_color: #065179;

// FONT COLORS
$primary_font_color: #FFFFFF;
$warning_color: #ffc219;

//FONT SETTINGS
$font_name: "Roboto";
@font-face {
  font-family: $font_name;
  src: local("Roboto"), local("Roboto-Regular"), url("/Public/Fonts/Roboto-Regular.ttf");
}

