<?xml version="1.0" encoding="UTF-8"?>
<acl>
    <roles>

        <superadmin>

            <inherit>admin</inherit>
            <userTable>Admin</userTable>


            <DevadraConfig>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                    <getJson>
                        <right>allow</right>
                    </getJson>
                </functions>
            </DevadraConfig>
            <PositionPhoto>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                </functions>
            </PositionPhoto>
            <Template>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                </functions>
            </Template>
            <Update>
                <functions>
                    <update>
                        <right>allow</right>
                    </update>
                </functions>
            </Update>
        </superadmin>

        <admin>
            <inherit>guest</inherit>
            <userTable>Admin</userTable>
            <Admin>
                <functions>
                    <accueil>
                        <right>allow</right>
                    </accueil>
                    <disconnectDo>
                        <right>allow</right>
                    </disconnectDo>

                </functions>
            </Admin>
            <DevadraConfig>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                    <getJson>
                        <right>allow</right>
                    </getJson>
                </functions>
            </DevadraConfig>
            <Contenu>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                    <getJson>
                        <right>allow</right>
                    </getJson>
                </functions>
            </Contenu>
            <Error>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                    <getJson>
                        <right>allow</right>
                    </getJson>
                </functions>
            </Error>
            <Index>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                    <getJson>
                        <right>allow</right>
                    </getJson>
                </functions>
            </Index>
            <Page>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                    <getJson>
                        <right>allow</right>
                    </getJson>
                </functions>
            </Page>
            <Paragraphe>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                    <getJson>
                        <right>allow</right>
                    </getJson>
                </functions>
            </Paragraphe>
            <PositionPhoto>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                    <getJson>
                        <right>allow</right>
                    </getJson>
                </functions>
            </PositionPhoto>
            <Template>
                <functions>
                    <admin>
                        <right>allow</right>
                    </admin>
                    <add>
                        <right>allow</right>
                    </add>
                    <addDo>
                        <right>allow</right>
                    </addDo>
                    <modify>
                        <right>allow</right>
                    </modify>
                    <modifyDo>
                        <right>allow</right>
                    </modifyDo>
                    <removeDo>
                        <right>allow</right>
                    </removeDo>
                    <addAjax>
                        <right>allow</right>
                    </addAjax>
                    <addAjaxDo>
                        <right>allow</right>
                    </addAjaxDo>
                    <modifyAjax>
                        <right>allow</right>
                    </modifyAjax>
                    <modifyAjaxDo>
                        <right>allow</right>
                    </modifyAjaxDo>
                    <removeAjaxDo>
                        <right>allow</right>
                    </removeAjaxDo>
                    <getJson>
                        <right>allow</right>
                    </getJson>
                </functions>
            </Template>
        </admin>
        <guest>
            <Admin>
                <functions>
                    <index>
                        <right>allow</right>
                    </index>
                    <connectDo>
                        <right>allow</right>
                    </connectDo>
                    <connect>
                        <right>allow</right>
                    </connect>
                </functions>
            </Admin>
            <Error>
                <functions>
                    <error404>
                        <right>allow</right>
                    </error404>
                    <error401>
                        <right>allow</right>
                    </error401>
                    <maintenance>
                        <right>allow</right>
                    </maintenance>
                </functions>
            </Error>
            <Index>
                <functions>
                    <index>
                        <right>allow</right>
                    </index>
                    <setLang>
                        <right>allow</right>
                    </setLang>
                </functions>
            </Index>
            <Page>
                <functions>
                    <index>
                        <right>allow</right>
                    </index>
                </functions>
            </Page>
        </guest>
    </roles>

</acl>
