.slide_down{

  height: 0;
  -webkit-transition: height .4s ease;
  -moz-transition: height .4s ease;
  -ms-transition: height .4s ease;
  -o-transition: height .4s ease;
  transition: height .4s ease;

}